body{
    font-family: 'Poppins', sans-serif;
}
.container-css{
    width: 100%;
}
.header-bg{
    background-color:#264653;
}
.button-css{
    background-color:#E76F51;
}
.featured-bikes img{
    width: 288px;
}
.grayscale img{
    filter: grayscale(100%);
}
.color-css{
    color:#E76F51;
}
.clients img{
    width: 149px;
}
.faq-img img{
width: 420px;
}
.carousel-bg{
   background-color:#7ea0ad ;
}