body{
    font-family: 'Poppins', sans-serif;
}
.header-bg{
    background-color:#264653;
}
.button-css{
    background-color:#E76F51;
}
.color-css{
    color:#E76F51;
}
.clients img{
    width: 149px;
}
.faq-img img{
width: 431px;
}